<html>
<head>
 <title></title>
</head>
<body>
  <h2>Here are the awesome quotes!</h2>
  <% for (var i in users) { %>
    <h3>Name: <%= users[i].name %> </h3>
    <h3>Quote: <%= users[i].email %> </h3>
    <hr>
  <% } %>
</body>
</html>